---
import LegalLayout from '../layouts/LegalLayout.astro';
import { SITE_NAME, EMAIL } from '../config';
---

<LegalLayout title="Impressum">
  <h2>Angaben gemäss §5 TMG</h2>
  <p>
    {SITE_NAME}<br /><br />
    ictira GmbH<br />
    Aufgendsweg 3<br />
    4455 Zunzgen<br />
    Schweiz
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: <a href={`mailto:${EMAIL}`}>{EMAIL}</a>
  </p>

  <h2>Unternehmensregistrierung</h2>
  <p>
    Unternehmens-Identifikationsnummer (UID): CHE-476.809.964<br />
    Handelsregister: Basel-Landschaft, Schweiz
  </p>

  <h2>Haftungsausschluss</h2>
  <p>
    Die Inhalte dieser Website wurden mit grösster Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
    Aktualität der Inhalte wird jedoch keine Gewähr übernommen.
  </p>
  <p>
    Links zu externen Websites wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstösse überprüft. Rechtswidrige
    Inhalte waren nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist ohne konkrete
    Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
  </p>
</LegalLayout>
