---
import { Image } from 'astro:assets';
import logoSrc from '../assets/Logo_DeutscheClipper_Weiss_Transparent.png';

interface Props {
  size?: number;
  linkTo?: string;
}
const { size = 28, linkTo = '/' } = Astro.props;
const logoWidth = Math.round(size * (2098 / 668));
---

<a href={linkTo} class="dc-logo">
  <Image src={logoSrc} alt="Deutsche Clipper" height={size} width={logoWidth} densities={[1, 2, 3]} />
</a>

<style>
  .dc-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
</style>
